apiVersion: apps/v1
kind: Deployment
metadata:
  name: javaapp
spec:
  replicas: 3
  selector:
    matchLabels:
      app: java
  template:
    metadata:
      labels:
        app: java
    spec:
      containers:
      - name: java
        image: babugudageri/java:latest
        ports:
        - containerPort: 8080
          
